
.cards_grid {
    column-gap: 0.75rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 0 1.25rem;
    row-gap: 0.75rem;

    @media only screen and (max-width: 870px) {
        grid-template-columns: 33% 33% 33%;
    }

    @media only screen and (min-width: 870px) {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .card_container {
        background-color: $white;
        border-radius: $border-radius;
        height: 300px;
        padding-bottom: 0.5rem;
        
        .card_img-product{
            height: 172px;
        }

        .card_title-product{
            display: flex;
            font-weight: 300;
            font-size: 0.9em;
            line-height: 1.25rem;
            margin: 0;
            height: 2.7em;
            padding: 0.25rem 0.5rem;
            text-align: center;
            width: auto;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card_old-price{
            font-weight: 400;
            margin-right: 0.5rem;
            text-decoration:line-through;

            @include fontSize8();
        }

        .card_new-price{
            color: $primary;
            font-weight: 400;
            
            @include fontSize7();
        }
        
        .card__buttons-container{
            display: flex;
            justify-content: center;
            width: 100%;
            .card__button-add-item {
                background-color: transparent;
                border: 1px solid $primary;
                border-radius: $border-radius;
                color: $primary;
                font-weight: 200;
                padding: 0.5rem 0.75rem;
    
                @include fontSize8();
            }
            .card__counter-container {
                align-items: center;
                color: $primary;
                display: flex;
                justify-content: space-around;
                width: 100%;
                .card__buttons-counter{
                    background-color: $primary;
                    border: 1px solid $primary;
                    border-radius: $border-radius;
                    color: $white;
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}

.cards__grid-end-message {
    color: $primary;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
}

.cards__loading {
    width: 20%;
    @media only screen and (max-width: 870px) {
        width: 15%;
    }

    @media only screen and (min-width: 870px) {
        width: 10%;
    }
}