
.w-100 {
    width: 100%;
}
  
.w-50 {
    width: 60%;
}
  
  
.h-100 {  
    height: 100%;
}
  
.h-50 {
    height: 60%;
}
  
.d-flex{
    display: flex;
}

.center-box {
    align-items: center;
    justify-content: center;
}
  
.justify-content-end {
    justify-content: end;
}
  
.space-between {
    justify-content: space-between;
}
  
.align-items-center {
  align-items: center;
}


.text-align-end {
    text-align: end;
}
  
.text-align-center {
    text-align: center;
}

.border-none {
    border: none;
}
  
.border-bottom {
    border-bottom: $white 1px solid;
}
  
.text-transform-none {
    text-transform: none;
}

.position-relative {
    position: relative;
}

.wrapper {
    display: grid;
    margin: auto;
    max-width: 1230px;

    &.d-flex {
        display: flex;
    }
}