//Colors
$primary: #0070E0;
$white: #ffffff;
$black: #000;
$text: #0D0A14;
$background: #f5f5f5;

//Colors states
$success: #0B7B16;
$warning: #F39E1E;
$error: #E73C3C;

$disabled: #585858;
